@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~prismjs/themes/prism';

article {
  img {
    display: block;
    margin: 3rem auto;
    max-width: 80%;
  }
}