<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mahrio/a - Views</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <%- include style.ejs %>
</head>
<body>
    <div id="spinner-overlay"><div class="loader"></div></div>

    <div id="seo-content">
        <% include menu.ejs %>

        <% include page.ejs %>
    </div>

    <div id="ng-app">
        <app></app>
    </div>
</body>
<script>
//    if( document.location.protocol != 'https:') {
//        document.location.href = 'https://' + document.location.host + document.location.pathname;
//    }
</script>
<% include scripts.ejs %>
</html>
