<div class="container text-gray-dark" style="background: #FFF;">
    <heading h="Explore Tutorials" p="Use filters to quickly find the Tutorial you are looking for" s="spa-list-heading-js"></heading>
    <!--<filters (textFilter)="setSearchFilter($event)" (favorites)="toggleFavorite($event)"></filters>-->
    <!--<active-filters [page]="pagingService" (change)="change($event)" entity="tutorials"></active-filters>-->
    <div class="container mt-3">
        <div class="list-group">
            <ng-container *ngFor="let tutorial of pagingService.page">
                <div style="position:relative;">
                    <a class="pl-2 pt-3 star-icon" *ngIf="isLoggedIn" (click)="toggleFavorite(tutorial)" > <!-- toggle one vs all -->
                        <i class="fa fa-star" [ngClass]="{'active': tutorial.favorite}"></i>
                    </a>
                    <a [routerLink]="['/','tutorial',tutorial.link]"
                       class="list-group-item list-group-item-action flex-column align-items-start"
                       (click)="articlesService.currentArticle = tutorial;" >
                        <div class="d-flex w-100 justify-content-between" [ngClass]="{'pl-4': isLoggedIn}">
                            <h5 class="mb-1">{{tutorial.title}}</h5>
                            <small>{{tutorial.created | date: 'MM/dd/yyyy'}}</small>
                        </div>
                        <div [ngClass]="{'pl-4': isLoggedIn}">
                            <p class="mb-1">{{tutorial.deck}}</p>
                        </div>
                        <div [ngClass]="{'pl-4': isLoggedIn}" *ngIf="tutorial.tagsArray && tutorial.tagsArray.length">
                            <span *ngFor="let tag of tutorial.tagsArray; let i = index" class="badge badge-default ml-1">
                                {{tag}}
                            </span>
                        </div>
                    </a>
                </div>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="pagingService.pages > 1">
        <paginate [page]="pagingService" (change)="change($event)"></paginate>
    </ng-container>
</div>