<nav class="row mt-3 mb-3">
    <ul class="pagination col-md-3" style="padding-left: 15px;">
        <li class="page-item disabled">
            <a class="page-link">First</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
    </ul>
    <ul class="pagination justify-content-center col-md-6">
        <li class="page-item active">
            <a class="page-link">1</a>
        </li>
        <li class="page-item">
            <a class="page-link">2</a>
        </li>
        <li class="page-item">
            <a class="page-link">3</a>
        </li>
    </ul>
    <ul class="pagination justify-content-end col-md-3">
        <li class="page-item">
            <a class="page-link">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link">Last</a>
        </li>
    </ul>
</nav>