<div class="container">
    <div class="row">
        <div class="col-md-8" style="min-height: 250px; background: #e3e3e3; padding: 50px;">
            <h1>Home</h1>
            <p><i class="fa fa-pencil-square-o"></i> Edit me in /src/app/pages/home/home.template.html</p>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a href="">Find a Mentor</a></li>
                <li><a href="">Popular Technology</a></li>
                <li><a href="">Technology Applications</a></li>
                <li><a href="">Technology Breakdown</a></li>
            </ul>
        </div>
    </div>

    <h2>&gt; Life Hacking</h2>

    <div class="row">
        <div class="col-md-8 p-0">
            <div class="row">
                <div class="col-md-6" *ngFor="let val of hacking">
                    <div class="card mb-4">
                        <div class="img"></div>
                        <label>{{val.label}}</label>
                        <h4>{{val.heading}} &gt;&gt;</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-4 mb-4" style="background: #333333; color: #e3e3e3;" [routerLink]="['/','about-us']">
                <label>Our Mission</label>
                <h5>To be your most trusted source for technology running in the background.</h5>
            </div>
            <div class="card mb-4">
                <div class="img"></div>
                <label>Train Watching</label>
                <h4>10 reasons to have a train reminder</h4>
            </div>
            <div class="card mb-4">
                <label>Train Watching</label>
                <h5>10 reasons to have a train reminder</h5>
            </div>
            <div class="card mb-4">
                <label>Train Watching</label>
                <h5>10 reasons to have a train reminder</h5>
            </div>
            <div class="card">
                <h5>Sign Up for Weekly Technology Tips</h5>
                <input type="text" class="form-control">
                <button class="btn btn-block">
                    Sign Up
                </button>
                <small><label><i class="fa fa-lock"></i> Your <a [routerLink]="['/','privacy']">privacy</a> is important to us</label></small>
            </div>
        </div>
    </div>
</div>

