<div class="container">
    <heading [h]="tutorial.title" [p]="tutorial.deck" s="spa-list-heading-css"></heading>
    <div class="container">
        <div *ngIf="tutorial.tagsArray && tutorial.tagsArray.length">
            <span *ngFor="let tag of tutorial.tagsArray; let i = index" class="badge badge-default ml-1">
                {{tag}}
            </span>
        </div>
    </div>
    <div class="container mt-3 spa-list-heading-css">
        <article>
            <div *ngFor="let section of tutorial.body">
                <div *ngIf="section.type == 'article'">
                    <article-inline [tutorial]="section.content"></article-inline>
                </div>
                <div *ngIf="!section.type">
                    <markdown [data]="section.content" class="fill-editor-preview"></markdown>
                </div>
            </div>
        </article>
    </div>
</div>